[user]
	name = {{ gitconfig_user_name }}
	email = {{ gitconfig_user_email }}
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  di = diff
  dis = diff --staged
